<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoFinalCS" connectionString="data source = .\SQLEXPRESS; database = RM_SiteReceitas; Integrated Security = true" />
        <add name="ProjetoFinal.WinForms.Properties.Settings.cs" connectionString="data source = RUI\SQLEXPRESS; database = ProjetoFinal; Integrated Security = true" />
        <add name="ProjetoFinal.WinForms.Properties.Settings.RM_SiteReceitasConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RM_SiteReceitas;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>